name: Sync From Upstream

on:
  push:
  schedule:
    - cron: '* */12 * * *'

jobs:
  sync:
    runs-on: ubuntu-latest
    env:
      # UPSTREAM_REPO: https://github.com/vernesong/OpenClash.git
      UPSTREAM_BRANCH: master
      OUR_BRANCH: my
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ env.OUR_BRANCH }}
          fetch-depth: 0
      - name: Check & Merge
        run: |
          set -eo pipefail
          set -x

          git --version

          git config merge.conflictstyle diff3
          git config color.ui always

          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git remote set-url origin "https://x-access-token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git"

          if [ -n "$UPSTREAM_REPO" ]; then
            git remote add upstream "$UPSTREAM_REPO"
            git fetch upstream "$UPSTREAM_BRANCH"
            git remote -v
            UPSTREAM_REF="upstream/$UPSTREAM_BRANCH"
          else
            git fetch origin "$UPSTREAM_BRANCH"
            UPSTREAM_REF="origin/$UPSTREAM_BRANCH"
          fi

          set +x
          if git merge-base --is-ancestor "$UPSTREAM_REF" "$OUR_BRANCH" ; then
            echo "Nothing to update"
          else
            echo "Rebasing $OUR_BRANCH on $UPSTREAM_REF"
            set +eo pipefail
              git rebase --autosquash --autostash "$UPSTREAM_REF"
              rebase_status=$?
            set -eo pipefail
            if [ $rebase_status -eq 0 ]; then
              echo "Rebase succeed, diff between before & after of rebased commits:"
              git range-diff "${UPSTREAM_REF}" @{1} @
              echo "Force pushing"
              git push --force origin "$OUR_BRANCH"
            else
              echo "Rebase failed"
              git status
              echo "Current patch:"
              git rebase --show-current-patch
              echo "Conflicts:"
              git diff --diff-filter=U --color-moved --color-words
              echo "Diff between REBASE_HEAD & Upstream:"
              git diff --name-only --diff-filter=U | xargs git diff REBASE_HEAD..."${UPSTREAM_REF}" --
              exit 1
            fi
          fi

